$colors: (
  skinColor: #FDE0AA,
  backgroundColor: #E83168,
  shadowSkinColor: #E4BB86,
  bigHairColor: #472B1F,
  smallHairColor: #170F08,
  mouthColor: #CA9A82,
  lightHairColor: #5A352A,
  keyboard: #AFAB9D
);
@keyframes headShake {
  0%   {transform: rotate(0)}
  30%  {transform: rotate(-20deg)}
  100% {transform: rotate(20deg);}
}

@keyframes hairShake {
  0% {transform: rotate(0); transform: translate(0)}
  30% {transform: rotate(-20deg) translate(-18px, 0px)}
  100% {transform: rotate(20deg) translate(18px, 0px)}
}

@keyframes eyeBlink {
from {opacity: 1}
to {opacity: 0}
}

@keyframes buttonClick {
  from {height: 15px}
  to {height: 0px}
}
.aboutMe{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    .logoLink {
      text-decoration: none;
      color: #555;
      font-family: Channel;
    }
  }
  .avatarBox {
    background-color: #E83168;
    width: 300px;
    height: 300px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .head {
      width: 77px;
      height: 100px;
      background-color: map-get($colors, skinColor);
      position: relative;
      .beard1 {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 30px solid map-get($colors, backgroundColor);
        border-right: 30px solid transparent;
      }
      .beard2 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 30px solid map-get($colors, backgroundColor);
        border-left: 30px solid transparent;
      }
      .eye1 {
        animation-name: eyeBlink;
        animation-duration: 0.3s;
        animation-delay: 1s;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 35px;
        left: 15px;
        background-color: black;
        z-index: 2;
      }
      .eye2 {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 35px;
        right: 15px;
        background-color: black;
        z-index: 2;
      }
      .eyeBrow1 {
        width: 15px;
        height: 3px;
        position: absolute;
        top: 30px;
        left: 10px;
        background-color: map-get($colors, bigHairColor);
        z-index: 2;
        transform: skew(-70deg, 183deg);
      }
      .eyeBrow2 {
        width: 15px;
        height: 3px;
        position: absolute;
        top: 30px;
        right: 10px;
        background-color: map-get($colors, bigHairColor);
        z-index: 2;
        transform: skew(70deg, -5deg);
      }
      .earLeft {
        width: 10px;
        height: 20px;
        position: absolute;
        left: -10px;
        top: 30px;
        background-color: map-get($colors, skinColor);
        .earShell {
          width: 5px;
          height: 10px;
          position: absolute;
          right: 0px;
          top: 5px;
          background-color: map-get($colors, shadowSkinColor);
        }
      }
      .earRight {
        width: 10px;
        height: 20px;
        position: absolute;
        right: -10px;
        top: 30px;
        background-color: map-get($colors, skinColor);
        .earShell {
          width: 5px;
          height: 10px;
          position: absolute;
          right: 5px;
          top: 5px;
          background-color: map-get($colors, shadowSkinColor);
        }
      }
    }

    .hair {
      position: absolute;
      top: 70px;
      width: 77px;
      height: 55px;
      z-index: 2;
      background-color: map-get($colors, bigHairColor);
      .hairSkin {
        position: absolute;
        top: 28px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 40px solid map-get($colors, skinColor);
        transform: rotate(-22deg);
      }
      .hairBackground1 {
        position: absolute;
        top: 0px;
        right: 0;
        width: 0;
        height: 0;
        border-top: 20px solid map-get($colors, backgroundColor);
        border-left: 25px solid transparent;
      }
      .hairBackground2 {
        position: absolute;
        top: 0px;
        left: 0;
        width: 0;
        height: 0;
        border-top: 20px solid map-get($colors, backgroundColor);
        border-right: 15px solid transparent;
      }
      .hair1 {
        position: absolute;
        top: 13px;
        left: -6.5px;
        width: 0;
        height: 35px;
        border-top: 0px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 25.5px solid map-get($colors, lightHairColor);
        transform: rotate(40deg) skewY(30deg);
      }
      .hair2 {
        position: absolute;
        top: -10px;
        left: 0px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 30px solid map-get($colors, lightHairColor);
        transform: rotate(40deg);
      }
      .hair3 {
        position: absolute;
        top: 7px;
        right: 6px;
        height: 33px;
        border-top: 12px solid transparent;
        border-bottom: -10px map-get($colors, smallHairColor);
        border-left: 10px solid transparent;
        border-right: 26px solid map-get($colors, smallHairColor);
        transform: rotate(157deg) skewY(-30deg);
      }
      .hair4 {
        position: absolute;
        top: 8px;
        left: -13px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 30px solid #503026;
        transform: rotate(-28deg);
      }
    }
    .headAnimation {
      animation-fill-mode: forwards;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 2s;
      animation-name: headShake;
      animation-duration: 1s;
    }

    .hairAnimation {
      animation-fill-mode: forwards;
      animation-direction: alternate;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 2s;
      animation-name: hairShake;
      animation-duration: 1s;
    }

    .mouth {
      position: absolute;
      bottom: 19px;
      left: 23px;
      width: 30px;
      height: 4px;
      z-index: 2;
      background-color: map-get($colors, mouthColor);
      .lipsBottomRight {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 5px solid map-get($colors, skinColor);
        border-left: 5px solid transparent;
      }
      .lipsTopRight {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 5px solid map-get($colors, skinColor);
        border-left: 5px solid transparent;
      }
      .lipsTopLeft {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 5px solid map-get($colors, skinColor);
        border-right: 5px solid transparent;
      }
      .lipsBottomLeft {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 5px solid map-get($colors, skinColor);
        border-right: 5px solid transparent;
      }
    }

    .shadow {
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 50% 0% 0% 35%;
    border-left: 15px solid map-get($colors, shadowSkinColor);
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    height: 85px;
    z-index: 1;
    width: 0;
    }

    .nose1 {
      position: absolute;
      bottom: 40px;
      left: 42px;
      width: 23px;
      border-radius: 50% 0 0 0;
      border-top: 35px solid #EECB9B;
      border-left: 0px solid transparent;
      border-right: 10px solid transparent;
      transform: skew(0deg, 140deg);
    }
    .keyboard {
      width: 150px;
      height: 10px;
      position: absolute;
      bottom: 0;
      background-color: map-get($colors, keyboard);
      z-index: 1;
      .keyButton {
        position: absolute;
        top: -10px;
        width: 15px;
        border-bottom: 10px solid grey;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
      }
      .buttonAnimation{
        animation-name: buttonClick;
        animation-duration: 0.2s;
        animation-iteration-count: infinite;
      }
    }
    .avatarBody {
      width: 40px;
      height: 85px;
      position: absolute;
      bottom: 0px;
      left: 150px;
      background-color: #2B2C7D;
    }
    .avatarBody2 {
      width: 40px;
      height: 85px;
      position: absolute;
      bottom: 0px;
      left: 110px;
      background-color: #3A38A3;
    }
  }
}

@for $i from 0 through 9  {
.button#{$i} {left: 15px * $i;}
}
