* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin placeholder($color) {
    &:-ms-input-placeholder {
      color: $color;
    }
    &:-moz-placeholder {
      color: $color;
    }
    &::-webkit-input-placeholder {
      color: $color;
    }
    &::-moz-placeholder {
      color: $color;
    }
}
.contact {
  width: 100%;
  height: 100%;
  background-color: beige;
  display: flex;
  z-index: 0;
  position: relative;
  justify-content: center;
  .opacityImage {
    opacity: 0.8;
    background-image: url('../images/orchard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
  }
  .logo {
    position: absolute;
    top: 1rem;
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    .logoLink {
      text-decoration: none;
      color: #555;
      font-family: Channel;
    }
  }
  .error {
    ul {
      list-style-type: none;
    }
  }
  .success {
    list-style-type: none;

  }
  .book {
    display: flex;
    align-self: center;
    justify-content: center;
    .contactTitle {
      align-self: center;
      text-align: center;
      color: #555;
      width: 100%;
      height: 100%;
      .title {
        font-family: 'Alegreya SC', serif;
        font-weight: 100;
        text-align: center;
        width: 100%;
        align-self: center;
      }
      .lorem {
        color: black;
        font-size: 14px;
        font-family: 'Alegreya SC', serif;
        text-align: center;
        width: 60%;
        align-self: center;
        z-index: 2;
        width: 100%;
      }

    }
    .form {
      height: 100%;
      z-index: 1;
      background-color: white;
      align-self: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid #A0947E;
      justify-content: center;
      align-items: center;
      font-family: 'Alegreya SC', serif;
      .formInput {
        width: 80%;
        text-transform: uppercase;
        z-index: 1;
      }
      input, textarea {
        color: black;
        font-family: 'Alegreya SC', serif;
        @include placeholder(#967C50);
        border: 1px solid #DDC59C;
        margin: 0.3rem 0;

      }
      .formMessage {
        text-transform: uppercase;
        resize: none;
        width: 80%;
      }
      .submitButton {
        text-transform: uppercase;
        width: 80%;
        height: 3rem;
        background-color: #967C50;
        border: 1px solid transparent;
        color: white;
        outline: 0;
      }
    }
  }
}
@media only screen
  and (min-device-width: 320px)
  and (orientation: landscape) {
    .contact {
      flex-direction: column;
      justify-content: center;
      .logo {
      }
      .book {
        align-items: center;
        width: 80%;
        position: absolute;
        bottom: 2%;
        height: 75vh;
        .contactTitle {
          border: 1px solid #A0947E;
          flex-direction: column;
          display: flex;
          background-color: white;
          justify-content: center;
          flex: 1;
          .text {
            font-size: 20px;
          }
          .lorem {
            font-size: 12px;
          }
        }
        .form {
          font-size: 14px;
          flex: 1;
          .formInput {
            height: 2rem;
          }
          .formMessage {
            height: 7rem;
          }
        }

      }
    }

}

@media only screen
  and (min-device-width: 320px)
  and (orientation: portrait) {
    .contact {
      flex-direction: column;
      flex-wrap: wrap;
      .logo {
      }
      .book {
        width: 90%;
        flex-wrap: wrap;
        .contactTitle {
          border: 0.5rem solid transparent;
          .text {
            font-size: 20px;
          }
          .lorem {
            font-size: 12px;
          }
        }
        .form {
          font-size: 14px;
          height: 70vh;
          .formInput {
            height: 2.5rem;
          }
          .formMessage {
            height: 7rem;
          }
        }

      }
    }
}

@media only screen and (min-width: 700px)
and (orientation: portrait) {
  .contact {
    flex-direction: column;
    flex-wrap: wrap;
    .logo {
    }
    .book {
      width: 80%;
      flex-wrap: wrap;
      .contactTitle {
        border: 1rem solid transparent;
        .title {
          font-size: 27px;
        }
      }
      .form {
        font-size: 20px;
        height: 70vh;
        .formInput {
          height: 4rem;
        }
        .formMessage {
          height: 10rem;
        }
        .submitButton {
          height: 4rem;
        }
      }

    }
  }
}


@media only screen
  and (min-device-width: 1000px)
  and (orientation: landscape) {
    .contact {
      flex-direction: column;
      justify-content: center;
      .logo {
      }
      .book {
        align-items: center;
        width: 70%;
        position: absolute;
        bottom: 10%;
        height: 70vh;
        .contactTitle {
          border: 1px solid #A0947E;
          flex-direction: column;
          display: flex;
          background-color: white;
          justify-content: center;
          flex: 1;
          .title {
            font-size: 27px;
          }
          .lorem {
          }
        }
        .form {
          font-size: 14px;
          flex: 1;
          .formInput {
            height: 3rem;
          }
          .formMessage {
            height: 12rem;
          }
          .submitButton {
            height: 3rem;
          }
        }

      }
    }

}
